body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #fe6218, #c63cc3);
  position: relative;
  min-height: 200px;
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, #fe6218, #c63cc3);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.gradient:hover::before {
  opacity: 1;
}

h1 {
  color: beige;
  font-weight: 400;
  font-size: 3rem;
}
#answerW {
  font-size: 4rem;
}
#answerD {
  font-size: 4rem;
}
#answerM {
  font-size: 4rem;
}
form {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
p {
  font-size: 1.5rem;
  color: beige;
  text-align: center;
  line-height: 3rem;
}
#btn {
  border: none;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  height: 1.5rem;
  margin: 0;
  
}
button{
  color: #740372;
  font-family:"Montserrat", sans-serif;
  padding: 3px 17px;
  background: #ffffff;
  width: 90px;
  text-align: center;
  box-sizing: border-box;
}
button:active {
  outline: none;
  box-shadow: 0px 0px 5px #ffffff;
  border:1px solid #ffffff;
  border-radius:0;
  font-size: 80%;
}


#input {
  box-sizing: border-box;
  height: 1.5rem;
  border: none;
  margin-right: 5px;
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px #ffffff;
  border:1px solid #ffffff;
}
input[type="number"]:focus:hover {
  outline: none;
  box-shadow: 0px 0px 5px #ffffff;
  border:1px solid #ffffff;
  border-radius:0;
}